@model Mid_SchoolManagementSystem.Models.DataAccess.admin

@{
    ViewBag.Title = "DeleteAdmin";
    Layout = "~/Views/Shared/_SuperLayout.cshtml";
}@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Admin</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Admin</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.adminid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adminid)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.adminname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adminname)
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "ListAdmin")
            </div>
        }
    </div>
</body>
</html>
