@model Mid_SchoolManagementSystem.Models.DataAccess.grade

@{
    ViewBag.Title = "UploadGrade";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>UploadGrade</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>grade</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.classname, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("classname", (IEnumerable<SelectListItem>)ViewData["classlist"])
        @Html.ValidationMessageFor(model => model.classname, "", new { @class = "text-danger" })
    </div>
</div>
    

<div class="form-group">
    @Html.LabelFor(model => model.studentname, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("studentname", (IEnumerable<SelectListItem>)ViewData["studentlist"])
        @Html.ValidationMessageFor(model => model.studentname, "", new { @class = "text-danger" })
    </div>

</div>

<div class="form-group">
    @Html.LabelFor(model => model.sectionname, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("sectionname", (IEnumerable<SelectListItem>)ViewData["sectionlist"])
        @Html.ValidationMessageFor(model => model.sectionname, "", new { @class = "text-danger" })
    </div>

</div>
<div class="form-group">
    @Html.LabelFor(model => model.subjectname, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("subjectname", (IEnumerable<SelectListItem>)ViewData["subjectlist"])
        @Html.ValidationMessageFor(model => model.subjectname, "", new { @class = "text-danger" })
    </div>

</div>

    <div class="form-group">
        @Html.LabelFor(model => model.quiz1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.quiz1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.quiz1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.quiz2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.quiz2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.quiz2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.assignment1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.assignment1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.assignment1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.halfyearlygrade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.halfyearlygrade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.halfyearlygrade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.quiz3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.quiz3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.quiz3, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.quiz4, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.quiz4, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.quiz4, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.assignment2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.assignment2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.assignment2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.finalexamgrade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.finalexamgrade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.finalexamgrade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Grades")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
