@model Mid_SchoolManagementSystem.Models.DataAccess.subject

@{
    Layout = null;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateSubject</title>
</head>
<body>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <strong>Success!</strong>@ViewBag.Message
            </div>
        }
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Subject</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.subjectname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.subjectname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.subjectname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.classid, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*    @Html.DropDownList("classid", (IEnumerable<SelectListItem>)ViewData["ClassList"])*@

                        <select name="classid">
                            @foreach (var item in (Mid_SchoolManagementSystem.Models.DataAccess.@class[])ViewData["classlist"])
                            {
                                <option value="@item.classid">
                                    @item.classname
                                </option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.classid, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    }




    <div>
        @Html.ActionLink("Back to List", "ListSubject")
    </div>
</body>
</html>
