@model IEnumerable<Mid_SchoolManagementSystem.Models.ViewModel.SubjectClassView>

@{
    ViewBag.Title = "ListSubject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListSubject</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "CreateSubject")
    </p>
    <table class="table">
        <tr>
            <th>
                Subject
                @*@Html.DisplayNameFor(model => model.subjectname)*@
            </th>
            <th>
                Class
                @*@Html.DisplayNameFor(model => model.classid)*@
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.subject.subjectname
                    @*@Html.DisplayFor(modelItem => item.subjectname)*@
                </td>
                <td>
                    @(item.@class.classname)
                    @*@Html.DisplayFor(modelItem => item.classid)*@
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditSubject", new { id = item.subject.subjectid }) |

                    @Html.ActionLink("Delete", "DeleteSubject", new { id = item.subject.subjectid })
                </td>
            </tr>
        }

    </table>
</body>
</html>